<section class="flex flex-col md:flex-row justify-between items-center mx-auto">
    <div class="flex flex-col justify-center mt-20 md:mt-0 items-center text-center w-52 h-52 px-1 md:w-title-box md:h-96 space-y-1 md:mx-10 bg-item border-2 rounded-3xl border-secondary shadow-2xl shadow-item">
        <img class="w-4/6 md:w-8/12" src="/imgs/bachacode-logo-2.png">
        <h1 class="pb-3 text-xl md:text-6xl text-primary font-title">BachaCode</h1>
        <h2 class="pb-3 text-lg md:text-2xl">Desarrollador Web</h2>
    </div>
    <div class="md:hidden">
        <img src="/imgs/herosec-tobi-mobile.png" alt="perrito programando">
    </div>
    <div class="hidden md:flex m-0 justify-center">
        <img src="/imgs/herosec-tobi.png" alt="perrito programando">
    </div>
</section>