<script>
    declare var Alpine: any
    document.addEventListener('alpine:init', () => {
        Alpine.data('categories', () => ({
            categories: [
                {title: "Frontend", isActive: true},
                {title: "Backend", isActive: false},
                {title: "Database", isActive: false},
                {title: "Design", isActive: false},
                {title: "Tools", isActive: false}
            ],
            toggle(id: number) {
                for (let index = 0; index < this.categories.length; index++) {
                    this.categories[index].isActive = false;
                }
                this.categories[id].isActive = !this.categories[id].isActive;
            } 
        }))
    })
</script>

<div class="flex flex-col bg-item border-third border-2 py-10 px-4 md:flex-row md:space-x-6 justify-center text-center shadow-lg shadow-item">
    <template x-data="categories()" x-for="(category, key) in categories">
        <button x-on:click="toggle(key)" class="p-2" x-bind:class="category.isActive && 'selected-skill'" x-text="category.title"></button>
    </template>
</div>

<style scoped>
.selected-skill {
    @apply border-2 border-highlight text-highlight;
}
</style>