<div class="flex space-x-3">
    <div class="md:flex flex-col space-x-3 items-center" x-data="{ open: false }">
        <div class="pl-4 md:hidden">
            <button x-on:click="open = !open"><i class="icon-language"></i></button>
        </div>
        <div class="hidden md:inline">
            <button x-on:click="open = !open"><span class="fi fi-us mx-1"></span>EN<i class="mx-0.5" x-bind:class="open ? 'icon-close' : 'icon-chevdown'"></i></button>
        </div>
        <template x-teleport="header">
            <ul x-show="open" class="fixed z-50 right-28 top-16 bg-item py-6 px-14 border rounded-lg border-primary" x-on:click.outside="open = false" x-cloak x-transition:enter.duration.300ms x-transition:leave.duration.200ms>
                <li>
                    <a href="/" x-on:click="open = !open" class="cursor-pointer"><span class="fi fi-es cursor-pointer mx-1"></span>Spanish</a>
                </li>
                <li>
                    <button class="cursor-pointer" x-on:click="open = !open"><span class="fi fi-us cursor-pointer mx-1"></span>English</button>
                </li>
            </ul>
        </template>
    </div>
</div>