* {
  scroll-behavior: smooth;
}

body {
  @apply text-secondary bg-body font-text overflow-x-hidden;
}

h1 {
  @apply mt-8 p-6 text-2xl md:text-6xl font-title text-primary;
}

h2 {
  @apply mt-8 p-6 text-2xl md:text-6xl font-title text-primary;
}

p {
  @apply text-sm md:text-base;
}

::-webkit-scrollbar {
  @apply w-4 h-2 bg-item;
}

::-webkit-scrollbar-thumb {
  @apply rounded-lg bg-primary;
}

.section {
  @apply opacity-0 transition-all motion-reduce:transition-none blur-sm duration-1000;
}

.page {
  @apply overflow-hidden transition-all motion-reduce:transition-none blur-md duration-1000;
}

.footer {
  @apply overflow-hidden transition-all motion-reduce:transition-none blur-md duration-1000;
}

.loaded {
  @apply opacity-100 blur-0 overflow-auto;
}

.section-translate {
  @apply -translate-x-full;
}

.show {
  @apply opacity-100 blur-0 translate-x-0;
}

@font-face {
  font-family: "icomoon";
  src: url("/fonts/icomoon.eot?47t0jb");
  src: url("/fonts/icomoon.eot?47t0jb#iefix") format("embedded-opentype"),
    url("/fonts/icomoon.ttf?47t0jb") format("truetype"),
    url("/fonts/icomoon.woff?47t0jb") format("woff"),
    url("/fonts/icomoon.svg?47t0jb#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"],
[class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "icomoon" !important;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-alpinejs:before {
  content: "\e900";
  color: #f6f6e9;
}

.icon-download:before {
  content: "\e917";
}

.icon-burgermenu:before {
  content: "\e901";
}

.icon-canva:before {
  content: "\e902";
  color: #f6f6e9;
}

.icon-chevdown:before {
  content: "\e903";
}

.icon-close:before {
  content: "\e904";
}

.icon-css:before {
  content: "\e905";
  color: #f6f6e9;
}

.icon-external-link:before {
  content: "\e906";
}

.icon-envelope:before {
  content: "\e907";
}

.icon-figma:before {
  content: "\e908";
}

.icon-git:before {
  content: "\e909";
  color: #f6f6e9;
}

.icon-github:before {
  content: "\e90a";
}

.icon-html:before {
  content: "\e90b";
  color: #f6f6e9;
}

.icon-js:before {
  content: "\e90c";
  color: #f6f6e9;
}

.icon-language:before {
  content: "\e90d";
}

.icon-laravel:before {
  content: "\e90e";
}

.icon-linkedin:before {
  content: "\e90f";
}

.icon-mysql:before {
  content: "\e910";
  color: #f6f6e9;
}

.icon-php:before {
  content: "\e911";
  color: #f6f6e9;
}

.icon-postgresql:before {
  content: "\e912";
  color: #f6f6e9;
}

.icon-tailwind:before {
  content: "\e913";
  color: #f6f6e9;
}

.icon-terminal:before {
  content: "\e914";
}

.icon-vsc:before {
  content: "\e915";
}

.icon-vue:before {
  content: "\e916";
  color: #f6f6e9;
}
