---
// Section Imports
// import Navigation from '../components/Navigation/Navigation.astro';
// import HeroSection from '../components/HeroSection/HeroSection.astro';
// import AboutMeSection from '../components/AboutMeSection/AboutMeSection.astro';
// import SkillsSection from '../components/SkillsSection/SkillsSection.astro';
// Font Imports
import "@fontsource/dotgothic16";
import "@fontsource/jetbrains-mono";
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/ant.png" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/devicons/devicon@v2.15.1/devicon.min.css">
		<meta name="description" content="My name is Cristhian Flores, i'm a web developer using laravel to create awesome websites!">
		<title>BachaCode - Web Developer</title>
	</head>
	<body class="text-secondary bg-body font-text">
		<p>hello world</p>
	</body>

	<style>
		*{
			scroll-behavior: smooth;
		}
	</style>

</html>