---
const { skills } = Astro.props;
---

{
  skills.map((skillSet: any, id: number) => (
    <div
      x-show={`categories[${id}]`}
      x-transition:enter="transition-all ease-in duration-500"
      x-transition:enter-start="opacity-0 blur-sm translate-x-full"
      x-transition:enter-end="opacity-100 blur-0 translate-x-0"
      x-cloak
    >
      <div class="grid grid-cols-2 md:grid-cols-4 text-center mt-6 w-72 md:w-skills">
        {Object.entries(skillSet).map((skill: any) => (
          <div class="px-4 py-6 space-y-4 mx-2 w-32 mt-3 bg-item rounded-xl border-secondary border-2 transition ease-in-out delay-75 hover:-translate-y-1 hover:scale-110 duration-300 cursor-pointer">
            <i class={skill[1] + " text-5xl"} />
            <p class="text-sm">{skill[0]}</p>
          </div>
        ))}
      </div>
    </div>
  ))
}
