---
let skillSelection = [true, false, false, false, false]
---

<div
  x-data={`skills([${skillSelection}])`}
  class="flex flex-col justify-between items-center mx-auto px-6 pt-16 pb-3"
>
  <div class="flex flex-col items-center">
    <slot name="skill-bar" />
    <slot name="skill-groups" />
  </div>
</div>
