---
const { text } = Astro.props;
---

<div
  class="section section-translate flex items-center justify-center md:w-11/12"
>
  <img
    src="/imgs/about-me-desktop.webp"
    width="1220"
    height="1080"
    class="space-x-reverse w-full h-auto"
    alt="perrito programando"
  />
</div>
<div
  class="section section-translate p-3 mx-1 md:mx-8 lg:mx-24 font-text text-sm md:text-lg md:flex"
>
  <p class="flex text-justify max-w-sm md:max-w-4xl xl:text-xl">{text}</p>
</div>
<!-- Poner educacion para futuro -->
