---
const { info, button, href } = Astro.props
---

<div class="justify-middle">
  <div class="text-center">
    <p class="pb-5 font-text xl:text-2xl xl:mx-20">{info}</p>
    <a
      href={`/${href}`}
      download
      class="font-text bg-highlight rounded-2xl px-8 md:px-24 py-2 mt-10 text-lg md:text-2xl"
    >
      <i class="icon-download p-2"></i>{button}
    </a>
  </div>
  <div class="flex flex-row space-x-8 justify-center py-6 mt-3 text-4xl">
    <a target="_blank" href="https://github.com/bachacode" class="icon-github"></a>
    <a
      target="_blank"
      href="https://www.linkedin.com/in/cristhian-flores-403829244/"
      class="icon-linkedin"></a>
    <a href="mailto:bachacode@gmail.com" class="icon-envelope"></a>
  </div>
</div>
